*.exe

Roadmap.md

Models/feedforward_neural_network/data
Models/feedforward_neural_network/build
Models/convolutional_neural_network/lib
Models/convolutional_neural_network/bin
Models/recurrent_neural_network/env/
Models/recurrent_neural_network/data/
Models/recurrent_neural_network/models/cache/rnn_model.h5
Models/recurrent_neural_network/models/cache/training_history.npy
*.pyc
Models/long_short_term_memory/env/
*.csv